@font-face {
    font-family: BaoTuXiaoBaiTi;
    src: url('~@/assets/font/BaoTuXiaoBaiTi-2.ttf');
}
@font-face {
  font-family: YaoSuiXinShouXieTi;
  src: url('~@/assets/font/YaoSuiXinShouXieTi-2.ttf');
}
@font-face {
  font-family: HuXiaoBoSaoBaoTi;
  src: url('~@/assets/font/HuXiaoBoSaoBaoTi-2.otf');
}
@font-face {
  font-family: SuCaiJiShiKangKangTi;
  src: url('~@/assets/font/SuCaiJiShiKangKangTi-2.ttf');
}
